[url]
url= https://api.chatanywhere.com.cn/v1/chat/completions
headers= {'Content-Type': 'application/json','Authorization': 'Bearer sk-F7H1GVRe5H5e84WGsYxxdgY5MexjZ15ftR20gr3UwpIdkBOA' }

[model]
name=gpt-3.5-turbo

[path]
root=/home/wanghaining/workspace/LLM_code_REG/LLM_code/code_data
result=/home/wanghaining/workspace/LLM_code_REG/LLM_code/result.jsonl
prompt=/home/wanghaining/workspace/LLM_code_REG/LLM_code/prompt.txt